/* -------- NAVBAR -------- */

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  width: 100vw;

  /* animation: glow 1s infinite alternate; */
}

@keyframes glow {
  from {
    box-shadow: 0 0 35px 5px #98ce4c00;
  }
  to {
    box-shadow: 0 0 35px 5px #97ce4c;
  }
}

/* -------- MENU -------- */

.menu {
  margin-left: 50px;
}

.menu ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.menu span {
  font-size: 15px;
  padding: 5px 0 5px 5px;
}

.menu ul li {
  align-items: center;
  border-bottom: 1px solid #98ce4c00;
  cursor: pointer;  
  display:flex;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 40px;
  transition: 500ms;
  padding: 5px;
}

.menu li:hover {
  color: #e89ac7;
  border-bottom: 1px solid #e89ac7;
  transition: 500ms;
}

.active {
  border-bottom: 1px solid #e89ac7 !important;
}

/* -------- RIGHT -------- */

.navRight {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.navRight span {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.profile {
  align-items: center;
  display: flex;
  margin-left: 10px;
}

.profile span {
  font-weight: 500;
  font-size: 25px;
}
.collapse {
  align-items: center;
  display: flex;
  margin: 4.5px 5px 0 0;
}