.login {
    align-items: center;
    animation: glow 1s infinite alternate;
    background-color: #0f0f0f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px 70px 60px;
    text-align: center;
}

@keyframes glow {
    from {
    box-shadow: 0 0 50px 15px #98ce4c62;
    }
    to {
    box-shadow: 0 0 50px 15px #97ce4c;
    }
}

.login div {
    align-items: center;
    display: flex;
}

.login img {
    display: block;
    max-width: 350px;
}

.login form {
    display: block;
}

.login button {
    margin: 35px 5px 0 5px;
}

.login input {
    margin: 5px;
}