.search button {
    margin: 5px;
}

.search input {
    margin: 5px;
    padding: 18.5px 0px 18.5px 10px;
    width: 60px;
    text-align: center;
}

.createCharacterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    text-align: center;
    background-color: rgba(22,22,22,0.7);
  }