.search {
    align-items: center;
    display: flex;
}

.search button {
    font-weight: 500;
    margin: 5px;
}

.search span {
    font-weight: 500;
}

.search input {
    margin: 5px;
    padding: 21px 0px 21px 10px;
    width: 60px;
    text-align: center;
}