.createCharacter {
    animation: glow 1s infinite alternate;
    background-color: #0f0f0f;
    border-color: 1px solid #97ce4c;
    border-radius: 8px;
    padding: 50px;
}

.createCharacter h2{
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.createCharacter p {
    margin-bottom: 25px;
}

.formContainer {
  margin-top: 40px;
}

.formContainer input {
  width: 200px;
  margin-bottom: 4px;
  margin-right: 6px;
}

.formContainer select {
  height: 42px;
  width: 228px;
  padding: 10px;
}

.formContainer button {
  margin: 20px 5px 0 5px;
}

.formDiv {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}

@keyframes glow {
    from {
      box-shadow: 0 0 20px 3px #98ce4c00;
    }
    to {
      box-shadow: 0 0 20px 3px #98ce4cb0;
    }
  }